.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
.idea/
.vscode/s
*.log
*.swp
*.swo
.ipynb_checkpoints/
*.ipynb
*.egg-info/
dist/
build/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

